faiss-gpu==1.7.2
importlib-metadata==8.0.0
jaraco.collections==5.1.0
lmdb==1.4.1
nltk==3.9.1
pandas==2.2.2
pip-chill==1.0.3
platformdirs==4.2.2
pyarrow==19.0.1
sentence-transformers==3.4.1
sentencepiece==0.2.0
tomli==2.0.1
torchvision==0.21.0
wget==3.2
